.modal {
  width: 500px;
  height: 250px;
  position: fixed;
  transform: translate(-50%, 50%);
  @apply hidden inset-0 left-1/2 border items-center justify-center bg-slate-100 rounded-md grid grid-cols-4 gap-2
}